{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "inline-json-import",
    "@babel/plugin-transform-strict-mode",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
