{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "inline-json-import",
    "@babel/plugin-transform-strict-mode",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
